{% if page.title == 'Subscribe' %}
<div class="mailers">
  {% endif %}
  <h2 class="font-bold heading">Mailing Lists and Discussion Forum</h2>
  <p class="sub-heading">
    Engage in the Meshplay project. Join any of our mailing lists. Get your questions answered in the discussion forum.
  </p>
  <div class="mailing-component">
    <div class="mailing-row">
      <div class="bg-grey-300">
        <div class="mailing-container">
          <div>
            <h3 class="h3">Meshplay Developers</h3>
          </div>
        </div>
        <div class="mailing-container mail-link-div">
          <a
          class="mail-link"
          href="https://groups.google.com/a/meshplay.github.io/g/developers"
            >developers@meshplay.github.io</a
          >
        </div>
        <p class="p-normal">Engage with contributors. Contribute to Meshplay.</p>
        <div class="mailing-btn">
          <a
            class="button"
            href="https://groups.google.com/a/meshplay.github.io/g/developers"
            >Subscribe</a
          >
        </div>
      </div>
      <div class="bg-grey-300">
        <div class="mailing-container">
          <div>
            <h3 class="h3">Meshplay Users</h3>
          </div>
        </div>
        <div class="mailing-container mail-link-div">
          <a
          class="mail-link"
          href="https://groups.google.com/a/meshplay.github.io/g/users"
          >users@meshplay.github.io</a
          >
        </div>
        <p class="p-normal">Learn about Meshplay. Troubleshoot issues. Share cloud native experiences.</p>
        <div class="mailing-btn">
          <a
            class="button"
            href="https://groups.google.com/a/meshplay.github.io/g/users"
            >Subscribe</a
          >
        </div>
      </div>
    </div>
    <div class="mailing-row">
      <div class="bg-grey-300">
        <div class="mailing-container">
          <div>
            <h3 class="h3">Meshplay Maintainers</h3>
          </div>
        </div>
        <div class="mailing-container mail-link-div">
          <a class="mail-link" href="mailto:maintainers@meshplay.github.io"
          >maintainers@meshplay.github.io</a
          >
        </div>
        <p class="p-normal">Contact Meshplay Maintainers via email.</p>
        <div class="mailing-btn">
          <a class="button" href="mailto:maintainers@meshplay.github.io">Send email</a>
        </div>
      </div>
      <!--<div class="bg-grey-300">
        <div class="mailing-container">
          <div>
            <h3 class="h3">Meshplay Community</h3>
          </div>
          <div>
            <a class="button" href="mailto:community@meshplay.github.io">Subscribe</a>
          </div>
        </div>
        <div class="mailing-container mail-link-div">
          <a class="mail-link" href="mailto:community@meshplay.github.io"
            >community@meshplay.github.io
          </a>
        </div>
        <p class="p-normal">Receive the latest updates on Meshplay and surrounding projects.</p>
      </div>
    </div> -->
    <div class="bg-grey-300">
      <div class="mailing-container">
        <div>
          <h3 class="h3">Meshplay Vulnerabilities</h3>
        </div>
      </div>
      <div class="mailing-container mail-link-div">
        <a
          class="mail-link"
          href="mailto:security@meshplay.dev"
          >security@meshplay.dev</a
        >
      </div>
      <p class="p-normal">
        Report a vulnerability or inquire about a security-related concern.
      </p>
      <div class="mailing-btn">
        <a class="button" href="https://meshplay.github.io/docs/project/security-vulnerabilities"
          >Learn More</a
        >
      </div>
    </div>
    </div>
  </div>
  
    
  <div class="mailing-row mailing-row-single">
    <div class="bg-grey-300 bg-single">
      <div class="mailing-container">
        <div>
          <h3 class="h3">Discussion Forum</h3>
        </div>
        <div>
          <a class="button" href="mailto:community@meshplay.github.io">Engage</a>
        </div>
      </div>
      <div class="mailing-container mail-link-div">
        <a class="mail-link saffron" href="https://discuss.khulnasoft.com"
          >Questions and answers about Meshplay
        </a>
      </div>
      <p class="p-normal white">Get your questions answered in the Meshplay discussion forum.</p>
    </div>
  </div>

  {% if page.title == 'Subscribe' %}
</div>
{% endif %}
<!--Mailing List-->
